name: "Build LibreWolf"
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
    - uses: cachix/cachix-action@v14
      with:
        name: yuda-librewolf-cache
        authToken: '${{ yuda-librewolf-cache.cachix.org-1:Ua0xCOsrpZeHRzPx15/hmloCcsVF3Aa9wvCRVLkxPRg= }}'
    - name: Build LibreWolf
      run: nix build nixpkgs#librewolf
